@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Allura';
  src: url('./assets/fonts/Allura-oyw4.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Allura', serif;
  font-size: 18px;
}

#root {
  min-height: 100vh;
  width: 100%;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}